* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form-control {
  margin: 3rem 50rem;
}

.form-control h1 {
  font-style: italic;
  font-size: 3.2rem;
  color: blue;
  text-align: center;
}

.form-control .field-component {
  height: 3.5rem;
  width: 30rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid rgba(255, 233, 233, 1);
  margin-top: 5rem;
  margin-left: 5rem;
}

button {
  border: none;
  outline: 0;
  height: 3rem;
  width: 7rem;
  background-color: blue;
  color: white;
  position: relative;
  top: -3.3rem;
  left: 28rem;
  border-radius: 5px;
}

button::placeholder {
  opacity: 0.1;
}

button:focus {
  border-color: blue;
}

.filtered-component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-left: -55rem;
}

.button-container button {
  margin: 2rem;
  cursor: pointer;
}

.badge {
  height: 4.5rem;
  width: 13rem;
  border-radius: 1rem;
  background-color: darkslateblue;
  text-align: center;
  cursor: pointer;
  padding: 1rem 1.5rem;
  margin: 1.5rem;
}

.badge a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
}

.image-name-heading {
  margin-top: 5rem;
  text-align: center;
  font-size: 2.7rem;
  color: blue;
  font-style: italic;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.image img {
  height: 30rem;
  width: 20%;
  margin: 3rem;
}
